@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: linear-gradient(to bottom, #10403B, #127369);
    }

    #login {
        width: 80vw;
        height: 280px;
    
    }

    #imagem {
        float: left;
        width: 25vw;
        height: 100vh;
    }

    #formulario {
        float: right;   
        width: 55vw;
    }
}

@media screen and (min-width: 992px) {
    body {
        background-image: linear-gradient(to bottom, #10403B, #127369);
    }
    
    #login {
        width: 990px;
        height: 350px;
    }

    #imagem {
        float: right;
        width: 50%;
        height: 100vh;
    }

    #formulario {
        float: left;
        width: 50%;
    }

    #formulario h1 {
        font-size: 2em;
    
    }

    #formulario p {
        font-size: 1.2em;
    }
}
